﻿@using Microsoft.AspNetCore.Identity
@using Trab_AV2.Areas.Identity.Data

@model Trab_AV2.Model.Models.Produto

@inject UserManager<Trab_AV2User> UserManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="IdUser" class="form-control mb-2" value="@UserManager.GetUserId(User)" hidden />
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NmProduto" class="control-label"></label>
                <input asp-for="NmProduto" class="form-control" />
                <span asp-validation-for="NmProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qtd" class="control-label"></label>
                <input asp-for="Qtd" class="form-control" />
                <span asp-validation-for="Qtd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disp" class="control-label"></label>
                <select class="form-select mb-2" asp-for="Disp" asp-items="@ViewBag.Disponivel">
                    <option selected value="">Disponível?</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
