<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Padaria Delícia</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <main>
        <section id="inicio">
            <h1>Bem-vindo à Padaria do Chiquinho</h1>
            <p>Sabores irresistíveis todos os dias!</p>
        </section>

        <section id="produtos">
            <h2>Nossos Produtos</h2>
            <div class="product">
                <img src="/img/Pao.jpg" alt="Pão fresquinho">
                <h3>Pão Fresquinho</h3>
                <p>Deliciosos pães feitos diariamente.</p>
            </div>

            <div class="product">
                <img src="/img/Bolo.jpg" alt="Doces e Bolos caseiro">
                <h3>Doces e Bolos  Caseiro</h3>
                <p>Doces e bolos feitos com carinho.</p>
            </div>
        </section>

        <section id="sobre">
            <h2>Sobre Nós</h2>
            <p>Somos uma padaria apaixonada por trazer a você os melhores sabores.</p>
        </section>

        <section id="contato">
            <h2>Entre em Contato</h2>
            <p>Estamos sempre prontos para ouvir você!</p>
        </section>
    </main>

</body>

</html>
