@model Trab_AV2.VM.VendaVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VendaVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoVenda" class="control-label"></label>
                <input asp-for="CodigoVenda" class="form-control" />
                <span asp-validation-for="CodigoVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoProduto" class="control-label"></label>
                <input asp-for="CodigoProduto" class="form-control" />
                <span asp-validation-for="CodigoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoCliente" class="control-label"></label>
                <input asp-for="CodigoCliente" class="form-control" />
                <span asp-validation-for="CodigoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDaVenda" class="control-label"></label>
                <input asp-for="DataDaVenda" class="form-control" />
                <span asp-validation-for="DataDaVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorDaVenda" class="control-label"></label>
                <input asp-for="ValorDaVenda" class="form-control" />
                <span asp-validation-for="ValorDaVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
