﻿@using Microsoft.AspNetCore.Identity
@using Trab_AV2.Areas.Identity.Data

@model Trab_AV2.VM.VendaVM

@inject UserManager<Trab_AV2User> UserManager

@{
    ViewData["Title"] = "Manter";
}

<h4>Venda de Produtos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Manter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="CodigoVenda" class="form-control" />
            
            <div style="display: flex">

                <div class="form-group">
                    <label class="control-label">Produto</label>
                    <select class="form-select mb-2" id="cboProduto">
                        <option selected value="">Selecione um produto</option>
                        @{
                            foreach (VwEstoques produto in ViewBag.listarProdutos)
                            {
                                <option data-qtd="@produto.Qtd" data-valor="@produto.Valor">"@produto.NmProduto</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="CodigoCliente" class="control-label">Código do Vendedor</label>
                    <input asp-for="CodigoCliente" class="form-control mb-2" value="@UserManager.GetUserId(User)" disabled />
                    <span asp-validation-for="CodigoCliente" class="text-danger"></span>
                </div>
            </div>

            <div style="display: flex">
                <div class="form-group">
                    <label asp-for="DataDaVenda" class="control-label">Data da Venda</label>
                    <input type="date" asp-for="DataDaVenda" class="form-control" />
                    <span asp-validation-for="DataDaVenda" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ValorDaVenda" class="control-label">Valor da Venda</label>
                    <input asp-for="ValorDaVenda" class="form-control" />
                    <span asp-validation-for="ValorDaVenda" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="text" id="txtQtd" class="form-control" />
                <input type="text" id="txtValor" class="form-control" readonly />
                <button type="button" class="btn btn-primary adicionar">Incluir Produto</button>
            </div>

            <div>
                <table id="tbProdutos" class="table">
                    <thead>
                        <tr>
                            <th>
                                Produto
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                                Data
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="form-group">
                <input type="submit" value="Vender" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

@* 
<div>
    <a asp-action="Index">Back to List</a>
</div>
*@

@section Scripts {
    <script>
        $("#CodigoProduto").on("change", function () {

        });

        $(".adicionar").on("click", function () {

        });

        $("#cboProduto option:selected").on("change", function () {
            var valorVenda = $(this).attr("data-valor")
        })
    </script>
        
    }
